@import 'tailwindcss';

@theme inline {
    --color-base-100: var(--base-100);
    --color-base-200: var(--base-200);
    --color-base-300: var(--base-300);
    --color-base-content: var(--base-content);

    --color-primary: var(--primary);
    --color-primary-content: var(--primary-content);

    --color-secondary: var(--secondary);
    --color-secondary-content: var(--secondary-content);

    --color-accent: var(--accent);
    --color-accent-content: var(--accent-content);

    --color-neutral: var(--neutral);
    --color-neutral-content: var(--neutral-content);

    --color-info: var(--info);
    --color-info-content: var(--info-content);

    --color-success: var(--success);
    --color-success-content: var(--success-content);

    --color-warning: var(--warning);
    --color-warning-content: var(--warning-content);

    --color-error: var(--error);
    --color-error-content: var(--error-content);
}

@layer base {
    :root {
        --base-100: oklch(96% 0.001 286.375);
        --base-200: oklch(90% 0.003 247.839);
        --base-300: oklch(80% 0.006 286.286);
        --base-content: oklch(14% 0.004 49.25);

        --primary: oklch(60.75% 0.205 35.77);
        --primary-content: oklch(1 0 89.876);

        --secondary: oklch(71.53% 0.186 41.92);
        --secondary-content: oklch(100% 0 0);

        --accent: oklch(14% 0.004 49.25);
        --accent-content: oklch(98% 0.003 247.858);]

        --neutral: oklch(26% 0 0);
        --neutral-content: oklch(98% 0 0);

        --info: oklch(71% 0.143 215.221);
        --info-content: oklch(98% 0.003 247.858);
        --success: oklch(69% 0.17 162.48);
        --success-content: oklch(98% 0.003 247.858);
        --warning: oklch(37% 0.013 285.805);
        --warning-content: oklch(98% 0.022 95.277);
        --error: oklch(57% 0.245 27.325);
        --error-content: oklch(97% 0.013 17.38);

    }

    .dark {
        --base-100: oklch(20% 0.002 285.885);
        --base-200: oklch(15% 0.002 285.823);
        --base-300: oklch(10% 0.002 285.823);
        --base-content: oklch(96% 0.001 286);

        --primary: oklch(60.75% 0.205 35.77);
        --primary-content: oklch(96.807% 0.029 256.847);

        --secondary: oklch(71.53% 0.186 41.92);
        --secondary-content: oklch(98% 0.001 286);

        --accent: oklch(60% 0.1 49.25);
        --accent-content: oklch(98% 0.001 286);

        --neutral: oklch(14% 0.005 285.823);
        --neutral-content: oklch(87% 0.006 286.286);

        --info: oklch(65% 0.13 215.221);
        --info-content: oklch(10% 0.001 210);

        --success: oklch(60% 0.15 162.48);
        --success-content: oklch(10% 0.001 160);

        --warning: oklch(60% 0.1 85);
        --warning-content: oklch(10% 0.001 80);

        --error: oklch(55% 0.25 27.325);
        --error-content: oklch(98% 0.002 10);
    }
}
