@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-syne: "Syne", sans-serif;
}

@theme inline {
    --color-base-100: var(--base-100);
    --color-base-200: var(--base-200);
    --color-base-300: var(--base-300);
    --color-base-content: var(--base-content);

    --color-primary: var(--primary);
    --color-primary-content: var(--primary-content);

    --color-secondary: var(--secondary);
    --color-secondary-content: var(--secondary-content);

    --color-accent: var(--accent);
    --color-accent-content: var(--accent-content);

    --color-neutral: var(--neutral);
    --color-neutral-content: var(--neutral-content);

    --color-info: var(--info);
    --color-info-content: var(--info-content);

    --color-success: var(--success);
    --color-success-content: var(--success-content);

    --color-warning: var(--warning);
    --color-warning-content: var(--warning-content);

    --color-error: var(--error);
    --color-error-content: var(--error-content);
}

@layer components {
    code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
        background: var(--base-200) !important;
        color: var(--base-content);
        border-radius: 0.5rem;
        font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    /* Inline code */
    code.hljs.inline {
        padding: 0.2em 0.4em;
        font-size: 85%;
        background-color: var(--base-200);
        border-radius: 0.3rem;
    }

    /* Comment */
    .hljs-comment {
        color: var(--neutral-content);
        opacity: 0.6;
    }

    /* Tags & punctuation */
    .hljs-punctuation,
    .hljs-tag {
        color: var(--base-content);
        opacity: 0.7;
    }

    .hljs-tag .hljs-name,
    .hljs-tag .hljs-attr {
        color: var(--base-content);
    }

    /* Keywords, meta, selectors */
    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-meta .hljs-keyword,
    .hljs-name,
    .hljs-doctag,
    .hljs-attribute {
        font-weight: bold;
        color: var(--primary);
    }

    /* Strings, numbers, class selectors */
    .hljs-string,
    .hljs-number,
    .hljs-quote,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-template-tag,
    .hljs-type {
        color: var(--error);
    }

    /* Built-ins, additions, bullets */
    .hljs-built_in,
    .hljs-bullet,
    .hljs-code,
    .hljs-addition {
        color: var(--success);
    }

    /* Literals */
    .hljs-literal {
        color: var(--warning);
    }

    /* Meta info */
    .hljs-meta {
        color: var(--info);
    }

    .hljs-meta .hljs-string {
        color: var(--info-content);
    }

    /* Regex, operator, links */
    .hljs-regexp,
    .hljs-symbol,
    .hljs-operator,
    .hljs-link,
    .hljs-template-variable,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: var(--secondary);
    }

    /* Sections and titles */
    .hljs-section,
    .hljs-title {
        font-weight: bold;
        color: var(--accent);
    }

    /* Emphasis & Strong */
    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }



    .dark .hljs-comment {
        color: var(--neutral-content);
        opacity: 0.6;
    }
    .dark .hljs-title  {
        color: var(--secondary) !important;
    }

    .dark .hljs-number {
        color: var(--info) !important;
    }

    .dark .hljs-variable {
        color: var(--neutral-content) !important;
    }

    .dark .hljs-string,
    .dark .hljs-number,
    .dark .hljs-quote,
    .dark .hljs-selector-id,
    .dark .hljs-selector-class,
    .dark .hljs-template-tag,
    .dark .hljs-type {
        color: var(--error);
    }

    .dark .hljs-built_in,
    .dark .hljs-bullet,
    .dark .hljs-code,
    .dark .hljs-addition {
        color: var(--success);
    }

}

@layer base {
    :root {
        --base-100: oklch(100% 0 0);
        --base-200: oklch(86.445% 0.002 17.197);
        --base-300: oklch(79.938% 0.001 17.197);
        --base-content: oklch(22.389% 0.031 278.072);

        --primary: oklch(60.75% 0.205 35.77);
        --primary-content: oklch(1 0 89.876);

        --secondary: oklch(71.53% 0.186 41.92);
        --secondary-content: oklch(100% 0 0);

        --accent: oklch(14% 0.004 49.25);
        --accent-content: oklch(98% 0.003 247.858);]

        --neutral: oklch(26% 0 0);
        --neutral-content: oklch(98% 0 0);

        --info: oklch(71% 0.143 215.221);
        --info-content: oklch(98% 0.003 247.858);
        --success: oklch(69% 0.17 162.48);
        --success-content: oklch(98% 0.003 247.858);
        --warning: oklch(37% 0.013 285.805);
        --warning-content: oklch(98% 0.022 95.277);
        --error: oklch(57% 0.245 27.325);
        --error-content: oklch(97% 0.013 17.38);

    }

    .dark {
        --base-100: oklch(0.14 0.002 286.109);
        --base-200: oklch(0.169 0.002 286.177);
        --base-300: oklch(10% 0.002 285.823);
        --base-content: oklch(96% 0.001 286);

        --primary: oklch(60.75% 0.205 35.77);
        --primary-content: oklch(96.807% 0.029 256.847);

        --secondary: oklch(71.53% 0.186 41.92);
        --secondary-content: oklch(98% 0.001 286);

        --accent: oklch(60% 0.1 49.25);
        --accent-content: oklch(98% 0.001 286);

        --neutral: oklch(14% 0.005 285.823);
        --neutral-content: oklch(87% 0.006 286.286);

        --info: oklch(65% 0.13 215.221);
        --info-content: oklch(10% 0.001 210);

        --success: oklch(60% 0.15 162.48);
        --success-content: oklch(10% 0.001 160);

        --warning: oklch(60% 0.1 85);
        --warning-content: oklch(10% 0.001 80);

        --error: oklch(55% 0.25 27.325);
        --error-content: oklch(98% 0.002 10);
    }
}
