@import 'tailwindcss';
@import './support/index.css';
@import './components/text.css';
@import './components/heading.css';
@import './components/headline.css';
@import './components/button.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant metallic (&:where(.metallic, .metallic *));

@utility container {
    padding-inline: 16px;
    @variant sm {
        padding-inline: 24px;
    }
    @variant md {
        padding-inline: 32px;
    }
    @variant lg {
        padding-inline: 48px;
    }
    @variant xl {
        padding-inline: 64px;
        max-width: 1856px;
    }
}
